<div class="creator-step-grid">
  <div class="creator-step-main">
    <h2 class="text-center m-2">Available Archetypes</h2>
    <button
      class="archetype-button"
      *ngFor="let archetype of archetypes; index as index"
      pButton
      pRipple
      [label]="archetype.name"
      (click)="chooseArchetype(index)"></button>
  </div>
  <app-character-creator-detail-view
    class="creator-step-detail"
    title="Archetype Description"
    [detailText]="lorem"></app-character-creator-detail-view>
  <div class="creator-step-nav">
    <p-button label="Cancel" icon="pi pi-angle-left" iconPos="left"></p-button>
    <p-button label="Next" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>
</div>
