<div class="creator-step-grid">
  <div class="creator-step-main grid-area-card">
    <h2 class="text-center m-2">Available Archetypes</h2>
    <button
      class="archetype-button"
      *ngFor="
        let archetype of this.creatorService.stepData.archetypes;
        index as index
      "
      pButton
      pRipple
      [label]="archetype.name"
      (click)="chooseArchetype(index)"></button>
  </div>
  <app-creator-detail-view
    class="creator-step-detail grid-area-card"
    [title]="chosenArchetype?.name ?? 'Choose an archetype'"
    [detailText]="chosenArchetype?.description ?? ''"></app-creator-detail-view>
  <div class="creator-step-nav grid-area-card">
    <p-button
      label="Cancel"
      (onClick)="exitCreator()"
      icon="pi pi-angle-left"
      iconPos="left"
      styleClass="p-button-outlined"></p-button>
    <p-button
      label="Next"
      (onClick)="nextStep()"
      icon="pi pi-angle-right"
      iconPos="right"
      styleClass="p-button-outlined"
      [disabled]="!chosenArchetype"></p-button>
  </div>
</div>
