@import "app/features/character-creator/components/steps/character-creator-step";

.creator-step-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.archetype-button {
  margin: .5em;
}
