<div>
  <div *ngIf="!editorActive" class="flex justify-content-center">
    <p-card *ngIf="!editorActive">
      <ng-template pTemplate="header"
        ><h2>{{ cardHeader }}</h2></ng-template
      >
      <p>{{ cardContent }}</p>
      <ng-template pTemplate="footer"
        ><p-button styleClass="p-button-outlined" (onClick)="toggleEditor()"
          >Create Post</p-button
        ></ng-template
      >
    </p-card>
  </div>
  <div *ngIf="editorActive" class="m-3 editor-container">
    <p-editor [(ngModel)]="editorContent" [style]="{ height: '320px' }">
    </p-editor>
    <div class="flex">
      <button
        pButton
        pRipple
        label="Cancel"
        class="w-full p-button-outlined left-button"
        (click)="toggleEditor()"></button>
      <button
        pButton
        pRipple
        label="Submit"
        class="w-full p-button-outlined right-button"></button>
    </div>
  </div>
</div>
