.creator-step-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 10px;
  grid-template-areas:
    "main detail"
    "nav nav";
  height: 100%;
}

.creator-step-main {
  grid-area: main;
  background-color: #3f51b5;
}

.creator-step-detail {
  grid-area: detail;
  background-color: #9c27b0;
}

.creator-step-nav {
  display: flex;
  justify-content: space-between;
  grid-area: nav;
}
