.creator-grid-container {
  margin: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-rows: auto 1fr;
  column-gap: 10px;
  grid-template-areas:
    "steps"
    "current-step";
  height: 100%;
}

.creator-steps {
  grid-area: steps;
}

.creator-current-step {
  grid-area: current-step;
}
