<div class="progress-spinner" *ngIf="postsAreLoading$ | async; else content">
  <p-progressSpinner></p-progressSpinner>
</div>
<ng-template #content>
  <ng-container *ngIf="posts$ | async as resolvedPosts">
    <ng-container *ngIf="playerCharacters | async as resolvedCharacters">
      <div *ngIf="!resolvedPosts.length" class="no-posts-grid">
        <app-post-editor
          cardHeader="Nothing out here but the wind"
          cardContent="Seems like you're a trailblazer. Want to leave a mark?"></app-post-editor>
      </div>
      <div *ngIf="resolvedPosts.length">
        <p-panel *ngFor="let post of resolvedPosts">
          <ng-template pTemplate="header">
            {{ resolvedCharacters.getItem(post.author_id.toString()).name }}
          </ng-template>
          <div class="container">
            <p-image
              class="float-image"
              src="assets/images/default-avatar.jpg"
              alt="avatar"></p-image>
            <p>{{ post.content }}</p>
          </div>
        </p-panel>
        <app-post-editor
          cardHeader="Continue this story"
          cardContent="Placeholder content"></app-post-editor>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
