@import "app/features/posts/components/posts-container/posts-container.component";

.container {
  height: auto;
  overflow: auto;
}

.float-image {
  float: left;
  margin-right: 1em;
}

.no-posts-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 60vh;
}
