<div class="progress-spinner" *ngIf="postsAreLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div>
  <app-no-posts-card *ngIf="postsArrayIsEmpty"></app-no-posts-card>
  <div *ngIf="!postsArrayIsEmpty">
    <p-panel *ngFor="let post of posts | async">
      <ng-template pTemplate="header"> Character Name </ng-template>
      <div class="container">
        <p-image
          class="float-image"
          src="assets/images/default-avatar.jpg"
          alt="avatar"></p-image>
        <p>{{ post.content }}</p>
      </div>
    </p-panel>
  </div>
</div>
