<div class="progress-spinner" *ngIf="categoriesAreLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div>
  <p-panel [toggleable]="true" *ngFor="let category of categories | async">
    <ng-template pTemplate="header">
      <span class="font-semibold text-xl">{{ category.name }}</span>
    </ng-template>
    <p>{{ category.description }}</p>
    <ng-template pTemplate="footer">
      <p-button [routerLink]="['/', 'posts', category.id, 'threads']"
        >Explore</p-button
      >
    </ng-template>
  </p-panel>
</div>
