/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PrimeNG */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";

/* PrimeFlex */
@import "../node_modules/primeflex/primeflex.scss";

/* PrimeNG themes */
@import "assets/themes/arya-blue/theme.css";

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  column-gap: 10px;
  grid-template-areas:
    "header header header"
    "character content players"
    "footer footer footer";
  height: 100vh;
}

app-header {
  grid-area: header;
}

.player-character {
  grid-area: character;
  background-color: green;
}

.content {
  grid-area: content;
  background-color: brown;
}

.active-players {
  grid-area: players;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: orangered;
  padding: 15px 30px;
}
