/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Quill styles */
@import "../node_modules/quill/dist/quill.core.css";

/* PrimeNG */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";

/* PrimeFlex */
@import "../node_modules/primeflex/primeflex";

/* PrimeNG themes */
@import "assets/themes/arya/arya-blue/theme.scss";

@import "styles/variables";

body {
  color: $text;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  column-gap: 10px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
}

app-header {
  grid-area: header;
}

.content {
  grid-area: content;
  background-color: $shade900;
}

.footer {
  grid-area: footer;
  background-color: orangered;
  padding: 15px 30px;
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

.p-panel {
  margin: 1em;
  box-shadow: 0 0 .4rem 0.08rem $primaryDarkColor;
  border-radius: 6px;
}

.p-card {
  box-shadow: 0 0 .4rem 0.08rem $primaryDarkColor;
  border-radius: 6px;
}

.p-editor-container {
  margin: 1em;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $accent;
}
