/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PrimeNG */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";

/* PrimeFlex */
@import "../node_modules/primeflex/primeflex.scss";

/* PrimeNG themes */
@import "assets/themes/arya-blue/theme.css";

@import "variables";

body {
  color: $text;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  column-gap: 10px;
  grid-template-areas:
    "header header header"
    "character content players"
    "footer footer footer";
  height: 100vh;
}

app-header {
  grid-area: header;
}

.player-character {
  grid-area: character;
  background-color: green;
}

.content {
  grid-area: content;
  background-color: brown;
}

.active-players {
  grid-area: players;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: orangered;
  padding: 15px 30px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $accent;
}

// PrimeNG style overrides
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: $accent;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: 0 0 0 1px $accent;
  border-color: $accent;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-icon {
  background-color: $accent;
  border: 0;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-icon:hover {
  background-color: $secondary;
  border: 0;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $accent;
  background-color: $accent;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $secondary;
  background-color: $secondary;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-icon {
  background-color: $accent;
  border: 0;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-icon:hover {
  background-color: $secondary;
  border: 0;
}

.p-button {
  background-color: $accent;
  border: 1px solid $accent;
}

.p-button:enabled:hover {
  background-color: $secondary;
  border: 1px solid $accent;
}

.p-button:disabled {
  background-color: $secondary;
}

.p-inputtext:enabled:hover {
  border: 1px solid $accent;
}

.p-inputtext:enabled:focus {
  border: 1px solid $accent;
  box-shadow: 0 0 0 1px $accent;
}
