@import "app/features/character-creator/components/steps/character-creator-step";

.creator-step-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "nav";
  align-items: center;
  justify-items: center;
}
